h1.titulo{
    text-align: center;
}
p.parrafo{
    font-family: serif;
}
p#primer-parrafo{
    background-color: #cee;
}
p#primer-parrafo em{
    color: #933;
}
a{
    outline: 1px solid;
}
html body p.fuente.parrafo{
    opacity: 100%;
}
p:not([id]){
    text-shadow: none;
}
p#primer-parrafo{
    text-shadow: 5px 2px 5px #000;
}
html body p.fuente.parrafo{
    color: #000 !important;
}
html body p span.complicado{
    font-weight: 900;
    color: #c62 !important;
}